/*Shared styles*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background: rgb(245, 248, 255);
}
.container {
  max-width: 1140px;
  margin: 0px auto;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.Dark-01 {
  color: rgb(37, 36, 50);
}
.Dark-02 {
  color: #8987a1;
}
.Dark-03 {
  color: #000000;
}
.merun {
  color: #e95a08;
}
/*Navbar styles*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.nav-icons ul {
  display: flex;
  gap: 48px;
}
.nav-icons ul li {
  list-style: none;
}
.nav-icons ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.bold {
  font-size: 16px;
  font-weight: 700;
}
/*Banner styles*/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 20px;
}
.banner-description h3 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description p {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
/*Our plants styles*/
.our-plants h3 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.our-plants .description {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: (0, 0, 0, 0.5);
  margin-bottom: 50px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card img {
  margin-bottom: 20px;
  width: 100%;
}
.card p {
  font-size: 22px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 20px;
}
.card h4 {
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 20px;
}
.aline-center {
  text-align: center;
}
.card button {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #e95a08;
  padding: 20px 80px;
  border: none;
}
/*Lover section*/
.lover-container {
  margin-top: 200px;
  display: flex;
  gap: 50px;
}
.lover-image .store-img {
  margin: 10px auto;
  width: 100%;
  position: relative;
  flex: 1;
}
.lover-image .badge-img {
  margin: 10px auto;
  width: 12%;
  position: absolute;
  top: 1780px;
  left: 510px;
  background-color: transparent;
}

.lover-description {
  padding: 40px 0px;
  flex: 1;
}
.lover-description h3 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.lover-description ul li {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
/*Deals section*/
.deals {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deals h3 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.deals p {
  font-size: 16px;
  font-weight: 400;
  width: 50%;
  text-align: center;
}

.deal-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.bloom{
  background-image: url(../assets/deal-bloom.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 50px;
  border-radius: 14px;
}
.ana{
  background-image: url(../assets/deal-ana.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 50px;
  border-radius: 14px;
}
.zabo{
  background-image: url(../assets/deal-zabo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 14px;
}
.bloom h4{
  font-size: 20px;
  font-weight: 700;
  background: transparent;
}
.bloom p{
  font-size: 16px;
  font-weight: 600;
   text-decoration: underline;
   background: transparent;
}
.ana h4{
  font-size: 20px;
  font-weight: 700;
  background: transparent;
}
.ana p{
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  background: transparent;
}
.zabo h4{
  font-size: 40px;
  font-weight: 700;
  background: transparent;
}
.zabo p{
  font-size: 28px;
  font-weight: 600;
   text-decoration: underline;
   background: transparent;
}
.bloom{
  grid-area: bloom;
}
.ana{
  grid-area: ana;
}
.zabo{
  grid-area: zabo;
}
.deal-card-container{
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "bloom zabo zabo"
  "bloom zabo zabo"
  "ana   zabo zabo"
  "ana   zabo zabo"
  ;
}
/*Join section*/
.join {
  background-image: url(../assets/news-letter-bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}
.join h3 {
  padding-top: 200px;
  font-size: 50px;
  font-weight: 700;
  background: transparent;
  color: #ffffff;
}
.join .input-section button {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #e95a08;
  padding: 20px 50px;
  border: none;
}
.join .input-section input {
  font-size: 16px;
  font-weight: 400;
  padding: 15px 500px 15px 20px;
  border: none;
}
.join .input-section {
  margin-bottom: 200px;
}
/*Footer style*/
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 50px auto;
  gap: 100px;
}
.footer p {
  font-size: 22px;
  font-weight: 400;
}
.footer ul li a {
  text-decoration: none;
}
.footer ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: rgb(107, 114, 128);
  margin-bottom: 30px;
}
.right-side img {
  margin-right: 15px;
}
.hide {
  display: none;
}
/*Media query for mobile device*/
@media screen and (max-width: 576px) {
  .navbar {
    align-items: center;
    margin-top: 10px;
  }
  .nav-icons ul li:nth-child(1),
  .nav-icons ul li:nth-child(2),
  .nav-icons ul li:nth-child(3) {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-description h3 {
    font-size: 45px;
    font-weight: 700;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .card img {
    display: block;
  }
  .lover-container {
    flex-direction: column;
    margin: 30px 0px;
  }
  .lover-image img {
    display: block;
  }
  .lover-description {
    padding: 30px;
  }
  .lover-image .badge-img {
    display: none;
  }
  .deals {
    margin: 10px auto;
  }
  .deals p {
    width: 80%;
  }
  .deal-card-container{
  grid-template-areas: 
  "bloom"
  "ana"
  "zabo"
  ;
}
  .join {
    margin: 30px 0px;
  }
  .join .input-section input {
    padding: 20px;
  }
  .join .input-section button {
    padding: 20px;
  }
  .join h3 {
    text-align: center;
    padding-top: 100px;
    margin-top: 30px;
  }
  .join .input-section {
    margin-bottom: 100px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-left: 20px;
  }
}
