/*Shared styles*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background: rgb(245, 248, 255);
}
.container {
  max-width: 1140px;
  margin: 0px auto;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

.Dark-01 {
  color: rgb(37, 36, 50);
}
.Dark-02 {
  color: #8987a1;
}
.Dark-03 {
  color: #000000;
}
.merun{
  color: #E95A08;
}

/*Navbar styles*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.nav-icons ul {
  display: flex;
  gap: 48px;
}
.nav-icons ul li {
  list-style: none;
}
.nav-icons ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.bold {
  font-size: 16px;
  font-weight: 700;
}
/*Banner styles*/
.banner{
  display: flex;
  justify-content: space-between;
  align-items:  end;
  margin-bottom: 20px;
}
.banner-description h3{
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description p{
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.50);
}
/*Our plants styles*/
.our-plants h3{
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.our-plants .description{
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: (0, 0, 0, 0.5);
  margin-bottom: 50px;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card img{
  margin-bottom: 20px;
  width: 100%;
}
.card p{
  font-size: 22px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 20px;
}
.card h4{
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 20px;
}
.aline-center{
  text-align: center;
}
.card button{
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #E95A08;
  padding: 20px 80px;
  border: none;
}
/*Media query for mobile device*/
@media screen and (max-width: 576px){
  .navbar{
    align-items: center;
    margin-top: 10px;
  }
  .nav-icons ul li:nth-child(1),
  .nav-icons ul li:nth-child(2),
  .nav-icons ul li:nth-child(3){
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-description h3{
  font-size: 45px;
  font-weight: 700;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
}
